.HeaderContainer {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
}

.HeaderContainer h1 {
    font-size: 36px; /* Increased font size */
    color: #333; /* Adjust the color as needed */
    margin-bottom: 20px; /* Increased margin */
}

.HeaderContainer p {
    font-size: 25px; /* Increased font size */
    line-height: 1.5;
    color: #666; /* Adjust the color as needed */
    margin-bottom: 0px; /* Increased margin */
}

.HeaderContainer {
    padding: 50px;
}

.HeaderContainer a {
    display: flex;
    align-items: center;
    margin-top: 15px; 
}

.HeaderContainer a svg {
    width: 100px; 
    height: 100px; 
    fill: #333; 
    margin: 0 auto;
}

@media (max-width: 768px) {

    .HeaderContainer {
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
        align-items: left;
    }

    .HeaderContainer h1{
        font-size: 35px;
        margin-bottom: 15px;
    }

    .HeaderContainer p {
        font-size: 25px;
        margin-bottom: 20px;
        text-align: left;
    }

    .ExpressionAnalysisContainer {
        flex-direction: column; /* Stack containers vertically on small screens */
    }

    .DemoContainer img {
        max-width: 100%; /* Make images responsive */
    }
}
