.HeaderContainer {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
}

.HeaderContainer h1 {
    font-size: 36px; /* Increased font size */
    color: #333; /* Adjust the color as needed */
    margin-bottom: 20px; /* Increased margin */
}

.HeaderContainer p {
    font-size: 25px; /* Increased font size */
    line-height: 1.5;
    color: #666; /* Adjust the color as needed */
    margin-bottom: 30px; /* Increased margin */
}

/* Optional: Add padding or margin to the container for better spacing */
.HeaderContainer {
    padding: 50px;
}

.DrawingApplication {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.DemoContainer {
    margin-bottom: 20px;
    text-align: center;
}

.DemoContainer p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.DemoContainer img {
    max-width: 100%;
    border: 2px solid #ddd; /* Add a border for better visibility */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

